<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>INDEX</title>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
	<div th:insert="fragments/navBar :: navbar"></div>
	<div class="container">
		<h1 class="text-center">Bienvenido a Horizon</h1>
		<p class="text-center">Gestor de usuarios, capacitaciones y
			contacto</p>
	</div>
</body>
</html>